{% extends 'shop/base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">
	<div class="col-sm-4">
		<img class = "img-rounded img-responsive" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="cart-img">
	</div>
	<div class="col-sm-8">
		<h1>{{ product.name }}</h1>
		<div class = "panel panel-primary">
			<div class = "panel-heading"><b>Описание</b></div>
			<div class = "panel-body">
				<b>Производитель: </b> {{ product.brand }}
				<br>
				<b>Категория: </b><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a>
				<hr>
				<p class="price"><b>Цена: </b> {{ product.price }} руб.</p>
				<hr>
				<span>{{ product.description | linebreaks }}</span>
				<hr>
				{% if user.is_authenticated and product.available %}
				<form action="{% url "cart:CartAdd" product.id %}" method="post">
					{{ cart_product_form }}
					{% csrf_token %}
					<input type="submit" value="Добавить в корзину">
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
