{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">
	<div class="col-sm-8">
		<div class = "panel panel-default">
			<div class = "panel-heading"><b>{{ product.name }}</b></div>
			<div class = "panel-body">
				{{ product.brand }}
				<hr>
		<h3><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></h3>
			<hr>
		<p class="price">{{ product.price }} руб.</p>
		<span>{{ product.description | linebreaks }}</span>
			</div>
	</div>
	{% if product.profile.user == user  %}
	<a class = "btn btn-default" href="{% url 'core_shop:product_edit' id=product.id slug=product.slug %}">Редактировать товар</a>
	<a class = "btn btn-default" href="{% url 'core_shop:product_delete' id=product.id slug=product.slug %}">Удалить товар</a>
	{% endif %}
</div>
</div>
{% endblock %}
