{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<!--<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
	<section id = "header">
<nav class="navbar navbar-inverse">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">DarkNet Shop</a>
	</div>
	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Домой</a></li>
			<li class=dropdown>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list-alt"></span> Категории<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Page 1-1</a></li>
					<li><a href="#">Page 1-2</a></li>
					<li><a href="#">Page 1-3</a></li>
				</ul>
			</li>
			{% if user.profile.customer %}
			<li><a href="{% url 'core_shop:product_new' %}">Добавить товар</a></li>
			{% endif %}
			<li><a href="#">О магазине</a></li>
		</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина</a></li>
		{% if user.is_authenticated %}
		<li><a href="#"><span class='glyphicon glyphicon-user'></span> Привет, {{ user.username  }}</a></li>
		<li><a href="/logout"><span class='glyphicon glyphicon-log-out'></span> Выйти</a></li>
		{% else  %}
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
		{% endif %}
	</ul>
	</div>
</nav>
	</section>
    <section id="content row" class="container">
	{% block content %}{% endblock %}
    </section>
</body>
</html>
